<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PACUBA MULTISERVICES - Paketeria</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.9.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/assets/img/profile-img.jpeg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="">PACUBA</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
		  <li><a href="{{ url_for('user') }}" class="nav-link scrollto"><i class="bx bx-user"></i> <span>{{user.username}}</span></a></li>
          <li><a href="{{ url_for('dashboard') }}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>          
          <li><a href="{{ url_for('dashboard') }}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
		  {% if user.type == "superadmin" or user.type == "admin" %}
		      <li><a href="{{ url_for('report') }}" class="nav-link scrollto"><i class="bx bx-objects-vertical-bottom"></i> <span>Report</span></a></li>
		      <li><a href="{{ url_for('user_change') }}" class="nav-link scrollto"><i class="bx bx-refresh"></i> <span>Update/User</span></a></li>
			  <li><a href="{{ url_for('calendar') }}" class="nav-link scrollto"><i class="bx bx-calendar"></i> <span>Calendar</span></a></li>
		  {% endif %}
          <li><a href="{{ url_for('logout') }}" class="nav-link scrollto"><i class="bx bx-log-in-circle"></i> <span>Logout</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Envío de Paquetes</h2>
          <ol>
            <li><a href="{{ url_for('dashboard') }}">Home</a></li>
            <li>Datos del Paquete</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs {{url_for('user_change')}}-->

    <section class="contact">
      <div class="container">
	      <form action="" method="post" role="form" class="php-email-form">
		  <div class="section-title">
              <h2>Segundo Paso</h2>
			</div>
		   {% for message in get_flashed_messages() %}	
	        <div class="alert alert-warning alert-dismissible fade show" role="alert">
	           {{ message }}
	        </div>	
            {% endfor %}
            <input type="hidden" id="codigo" name="codigo" value="{{hidden}}">
			
			<div class="form-group row">
			    <label for="miscelanea" class="col-sm-2 col-form-label"><h5>Libras Miscelanea:</h5></label>
			    <div class="col-sm-10">
			        <input type="number" style="font-size:18px;color: #0000FF;width:15%;" step="0.01" min="0" name="micelanea" {% if valor %} value="{{valor[8][0]}}" {% else %} value="0" {% endif %} required>
				</div>
			</div>
			<div class="form-group row">
			    <label for="me-aseo-com" class="col-sm-2 col-form-label"><h5>Libras Medicinas, Aseo y Comida:</h5></label>
				<div class="col-sm-10">
			        <input type="number" style="font-size:18px;color: #0000FF;width:15%;" step="0.01" min="0" name="me-aseo-com" {% if valor %} value="{{valor[8][1]}}" {% else %} value="0" {% endif %} required>
				</div>
			</div>
			<div class="form-group row">
			    <label for="telefono" class="col-sm-2 col-form-label"><h5>Cantidad Teléfonos:</h5></label>
				<div class="col-sm-10">
			        <input type="number" style="font-size:18px;color: #0000FF;width:15%;" name="telefono" min="0" {% if valor %} value="{{valor[8][2]}}" {% else %} value="0" {% endif %} required>
				</div>	 
			</div>
			<div class="form-group row">
			    <label for="tablet" class="col-sm-2 col-form-label"><h5>Cantidad Tablets:</h5></label>
				<div class="col-sm-10">
			        <input type="number" style="font-size:18px;color: #0000FF;width:15%;" name="tablet" min="0" {% if valor %} value="{{valor[8][3]}}" {% else %} value="0" {% endif %} required>
				</div>
			</div>
			<div class="form-group row">
			    <label for="laptop" class="col-sm-2 col-form-label"><h5>Cantidad Laptops:</h5></label>
			    <div class="col-sm-10">
			        <input type="number" style="font-size:18px;color: #0000FF;width:15%;" name="laptop" min="0" {% if valor %} value="{{valor[8][4]}}" {% else %} value="0" {% endif %} required>
				</div>
			</div>
			<div class="form-number">
			<label for="article"><h5>Pieza o Electrodoméstico:</h5></label>
                <select name="article" id="article">
                    <option value="0"></option>
					{% if point_article %}
					    {% for x in point_article %}
						    {% if valor and valor[8][5] == x.article %}
							    <option value="{{x.article}}" selected>{{x.article}}</option>
							{% else %}
					            <option value="{{x.article}}">{{x.article}}</option>
							{% endif %}
						{% endfor %}
					{% endif %}
                 </select> 
            </div>
			<div class="form-group row">
			    <label for="other" class="col-sm-2 col-form-label"><h5>Other ($ USD):</h5></label>
				<div class="col-sm-10">
			        <input type="number" style="font-size:18px;color: #0000FF;width:15%;" min="0" name="other" {% if valor %} value="{{valor[6]}}" {% else %} value="0" {% endif %} required>
				</div>
			</div>
			{% if valor %}
			    <input type="hidden" id="costos" name="costos" value="{{valor}}">
			    <p style="font-size:18px;color: #FE0000;">Costos Libras Miscelaneas: ${{valor[0]}} USD</p>
				<p style="font-size:18px;color: #FE0000;">Costos Libras Medicina, Aseo y Comida: ${{valor[1]}} USD</p>
				<p style="font-size:18px;color: #FE0000;">Costos de Telefonos: ${{valor[2]}} USD</p>
				<p style="font-size:18px;color: #FE0000;">Costos de Tablets: ${{valor[3]}} USD</p>
				<p style="font-size:18px;color: #FE0000;">Costos de Laptops: ${{valor[4]}} USD</p>
				<p style="font-size:18px;color: #FE0000;">Costos de Electrodomésticos o Piezas: ${{valor[5]}} USD</p>
				<p style="font-size:18px;color: #FE0000;">Costos Other: ${{valor[6]}} USD</p>
				<div class="form-number">
			        <label for="total"><p style="font-size:18px;color: #FE0000;">Costos Total: ${{valor[7]}} USD<b> TOTAL COBRADO</b> </p></label>
			        <input type="number" style="font-size:18px;color: #0000FF;width:10%;" step="0.01" name="total" value="{{valor[7]}}">
			    </div>
				<div>
			        <label for="note"><h5>Notas (100 letras): </h5></label>
                        <textarea id="note" name="note" rows="2" cols="50" style="font-size:18px;" maxlength="100"></textarea>
                </div>
			{% endif %}
			<div class="resume-item">
		    <div class="row" style="margin-top:10px;">
			       {% if valor %}
				   <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                       <div class="icon"><i class="bi bi-cart-plus-fill"></i></div>
                       <h4 class="title"><button class="astext" value="registrar_packet" name="registrar_packet">Registro Final</button></h4>
                       <p class="description">Crear Etiquete de Paquete.</p>
		           </div>
				   {% endif %}
                   <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                       <div class="icon"><i class="bi-clipboard2-plus-fill"></i></div>
                       <h4 class="title"><button class="astext" value="estimar_packet" name="estimar_packet">Estimar $(USD)</button></h4>
                       <p class="description">A Cobrar.</p>
		           </div>
           </div>
		   </div>
		   </form>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span></span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="">Pacuba Multiservices</a>
      </div>
    </div>
  </footer><!-- End  Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>