<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PACUBA MULTISERVICES - Paketeria</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.9.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/assets/img/profile-img.jpeg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="">PACUBA</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
		  <li><a href="{{ url_for('user') }}" class="nav-link scrollto"><i class="bx bx-user"></i> <span>{{user.username}}</span></a></li>
          <li><a href="{{ url_for('dashboard') }}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>          
          <li><a href="{{ url_for('dashboard') }}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
		  {% if user.type == "superadmin" or user.type == "admin" %}
		      <li><a href="{{ url_for('report') }}" class="nav-link scrollto"><i class="bx bx-objects-vertical-bottom"></i> <span>Report</span></a></li>
		      <li><a href="{{ url_for('user_change') }}" class="nav-link scrollto"><i class="bx bx-refresh"></i> <span>Update/User</span></a></li>
			  <li><a href="{{ url_for('calendar') }}" class="nav-link scrollto"><i class="bx bx-calendar"></i> <span>Calendar</span></a></li>
		  {% endif %}
          <li><a href="{{ url_for('logout') }}" class="nav-link scrollto"><i class="bx bx-log-in-circle"></i> <span>Logout</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Reportes</h2>
          <ol>
            <li><a href="{{ url_for('dashboard') }}">Home</a></li>
            <li>Datos Generales de Visualización</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs {{url_for('user_change')}}-->
	
	<!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Resumen del Próximo Viaje</h2>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-airplane-fill"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{resumen[0]}}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong># Viaje</strong> Fecha de vuelo {{resumen[1]}}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-box-seam"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{resumen[2]}}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Paquetes Recogidos</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-bar-chart-fill"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{resumen[3]}}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Libras</strong> Recogidas</p>
			  <p><strong>Micelaneas</strong> {{resumen[4]}}</p>
			  <p><strong>Comida-Aseo-Medicina </strong>{{resumen[5]}}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-currency-exchange"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{resumen[6]}}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Dinero</strong></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->
	
	<!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Ventas por Usuarios</h2>
        </div>
        {% if resumen[7] %}
        <div class="row skills-content">
          
          <div class="col-lg-6" data-aos="fade-up">
            {% for key in resumen[7] %}
            <div class="progress">
              <span class="skill">{{key}} <i class="val">{{resumen[7][key][0]}} paquetes es {{(resumen[7][key][0]/resumen[2]*100)|round}}% del total </i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{resumen[7][key][0]/resumen[2]*100}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
		    {% for key in resumen[7] %}
            <div class="progress">
              <span class="skill">{{key}} <i class="val">${{resumen[7][key][1]}} es {{(resumen[7][key][1]/resumen[6]*100)|round}}% del total</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{resumen[7][key][1]/resumen[6]*100}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            {% endfor %}

          </div>
		   <hr style="color: black; background-color: black; height: 8px;" />
		  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
		    {% for key in resumen[7] %}
            <div class="progress">
              <span class="skill">{{key}} <i class="val">{{resumen[7][key][2] + resumen[7][key][3]}} libras es {{((resumen[7][key][2] + resumen[7][key][3])/resumen[3]*100)|round}}% del total</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{((resumen[7][key][2] + resumen[7][key][3])/resumen[3]*100)}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            {% endfor %}

          </div>

        </div>
        {% endif %}
      </div>
    </section><!-- End Skills Section -->


    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span></span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="">Pacuba Multiservices</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>